.section-cta {
    position: relative;
    padding-top: 83px;
    padding-bottom: 84px;    
    text-align: center;

    @include bgImage("./../img/bg/cta-bg.jpg");

    /* MD */
    @media (max-width: 1600px) {
        @include bgImage("./../img/bg/cta-desktop.jpg");
    }

    /* Tablet */
    @media (max-width: 1199px) {
        @include bgImage("./../img/bg/tablet-cta.jpg");
    }

    /* Mobile */
    @media (max-width: 899px) {
        @include bgImage("./../img/bg/mobile-cta.jpg");
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        @include bgImage("./../img/bg/xs-cta.jpg");
    }

    &::before {
        @extend %overlay;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-cta__content {
    position: relative;
    z-index: 9;
}

.section-cta__title {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;    
    color: #FFFFFF;

    span {
        font-weight: 700;
        text-transform: uppercase;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 20px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 20px;
        font-size: 18px;
    }
}

